{
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true,
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
  ],
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 4, {"SwitchCase": 1}],
    "comma-dangle": ["error", {"functions": "never"}]
  }
}
