{
  "env": {
      "browser": true,
      "jquery": true,
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
  ],
  "parser": "babel-eslint",
  "rules": {
    comma-dangle: ["error", {"functions": "never"}]
  }
}
