<div class="card text-white bg-light text-center">
    <div class="card-body">
        <a href="{{ form_panel.back_url }}" class="btn btn-danger">
            {{ msg('1.10', 'Cancel') }}
        </a>
        <button type="submit" class="btn btn-success">
            {{ msg('1.11', 'Save') }}
        </button>
    </div>
</div>